@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wgfd3r');
  src:  url('fonts/icomoon.eot?wgfd3r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wgfd3r') format('truetype'),
    url('fonts/icomoon.woff?wgfd3r') format('woff'),
    url('fonts/icomoon.svg?wgfd3r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-08:before {
  content: "\e906";
}
.icon-07:before {
  content: "\e907";
}
.icon-06:before {
  content: "\e908";
}
.icon-05:before {
  content: "\e909";
}
.icon-04:before {
  content: "\e90a";
}
.icon-03:before {
  content: "\e90b";
}
.icon-02:before {
  content: "\e90c";
}
.icon-01:before {
  content: "\e90d";
}
.icon-call:before {
  content: "\e900";
  color: #ffc501;
}
.icon-lock:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
  color: #fff;
}
.icon-nav:before {
  content: "\e903";
  color: #fff;
}
.icon-phone:before {
  content: "\e904";
  color: #fff;
}
.icon-time:before {
  content: "\e905";
  color: #fff;
}
